body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.header{
    background-color: #efefef;
    padding: 10px 20px;
    color: #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font:menu ;
}

.boton-registro{
    background-color: #FF3B3F;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: 0px solid black;
    border-radius: 8px;
}

.boton-registro:hover{
    background-color: #ff3b3e8c;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    height: 25vh;   
    background: white;
    
  }

  ul, ol{
    list-style: none;    
  }

  .menu li {
    width: 125px;
    height: 50;
    transition: background-position-x 0.9s 
    
linear;
        text-align: center;
  
  }
    a {
        font-size: 22px;
        color: #777;
        text-decoration: none;
        transition: all 0.45s;
        font: bold;
        background: white;
        display: block;
        z-index: 1000;


    }

a:hover{
    color: #a8dce7;
    cursor: pointer;
}

.menu > li{
    float: left;
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 145px;

}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

.menu li ul li ul{
    right: -140px;
    top: 0px;
    text-align: left;
    z-index: 1000;
}

option{
    style:none;
}

.periodo{
    display: grid;    
    margin: 0 auto;
    
    
}

.p{

    display:flex;
    margin: 0 auto;
    padding: 0px;
    width: 25px; 
    height: 25px;
    align-items: left;
    justify-content: left;
    
    
    
}
.g{
    display: flex;
    align-items: center;
    justify-content: center;

}
    

.container{

    display: grid;
    grid-template-columns: repeat(19,1fr);
    grid-gap:6px ; 
    align-items: center;
    margin: 6px ;
    

}

.box{
    display: flex;
    background: rgba(130, 124, 136, 0.226);
    color: #fff;
    text-align: center;
    width: 65px; 
    height: 65px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    margin: 0px;
 

    
}

.sinColor{
    background:white ;
    width: 50px; 
    height: 50px;
    padding: 10px;
}

.wrap{
    
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(14, 100fr);    
    grid-gap: 9px;
    align-content: center;
    margin: 0 auto;
    
}


.box2{
    display: flex;
    
    color: #fff;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 66px; 
    height: 66px; 
    margin: 0px;   
 
}

.type-1{
    background: rgb(2, 85, 2);
    margin: 0 auto;
}
.type-2{
    background: rgb(0, 119, 255);
    margin: 0 auto;
}

.type-3{
    background: rgb(30, 163, 3);
    margin: 0 auto;
}
.type-4{
    background: yellow;
    margin: 0 auto;
}

.type-5{
    background: orange;
    margin: 0 auto;
}

.type-6{
    background: rgb(2, 2, 70);
    margin: 0 auto;
}
.type-7{
    background:rgb(255, 54, 131);
    margin: 0 auto;
}
.type-8{
    background:rgb(132, 204, 98);
    margin: 0 auto;
}
.type-9{
    background:rgb(148, 5, 112);
    margin: 0 auto;
}
.type-10{
    background:rgb(53, 167, 72);
    margin: 0 auto;
}
.example{
    display: grid;
    background: orange;
    width: 150%; 
    height: 180%;
    color: #000;
    position: relative;
}
.masa{
    text-align: right;
    margin: 5%;
    padding:2px 2px;
}
 .atomic{
    text-align: left;
    margin-top: -30px;
    margin-left: 5%;
}

.symbol{
    top: 40%;
    margin-top: 0px;
    margin-left: 40px;
    font-size: 9px;
    height: 9px;
    
}

.symbol {
    font-size: 60px;
  }

.nameE{
    position:absolute;
    bottom:5px;
    right:33px;
    
    
} 
.box h3{
    position:absolute;
    font-size: 12px;
    margin-top: 60px;
    margin-left: 0px;
}
.box h1{
    position:absolute;
    font-size: 25px;
    margin-bottom: 10px;
}
.box h4{
    font-size: 11px;
    margin-bottom: 57px;
    margin-right: 21px ;
    justify-content:center;
    align-content: center;

}
.box h2{
    
    font-size: 11px;
    margin-bottom: 50px;
    
}

/* box2 */

.box2 h3{
    position:absolute;
    font-size: 12px;
    margin-top: 60px;
    margin-left: 0px;
}
.box2 h1{
    position:absolute;
    font-size: 25px;
    margin-bottom: 10px;
}
.box2 h4{
    font-size: 11px;
    margin-bottom: 57px;
    margin-right: 21px ;
    justify-content:center;
    align-content: center;

}
.box2 h2{
    
    font-size: 11px;
    margin-bottom: 50px;
    
}


/* bo2 */

.etiquetas1{
    display: grid;
    grid-template-columns: repeat(5);
    position:absolute;
    margin-left: 45%;
    bottom: 32%;
    grid-gap: 5px
}

.tipos{
    position: relative;
    width: 20px; 
    height: 20px; 
    
    
}

.etiquetas2{
    display: grid;
    grid-template-columns: repeat(5);
    position:absolute;
    margin-left: 55%;
    bottom: 32%;
    grid-gap: 5px;
    

}

.tipos2{
    position: relative;
    width: 20px; 
    height: 20px; 
    
    
}
.li1{
    position: absolute;
    margin-left: 44%;
    bottom: 45%;
}
.li2{
    position: absolute;
    margin-left: 44%;
    bottom: 41%;
}
.li3{
    position: absolute;
    margin-left: 44%;
    bottom: 37%;
}
.li4{
    position: absolute;
    margin-left: 44%;
    bottom: 33%;
}
.li5{
    position: absolute;
    margin-left: 44%;
    bottom: 29%;
}
.li6{
    position: absolute;
    margin-left: 54%;
    bottom: 45%;
}
.li7{
    position: absolute;
    margin-left: 54%;
    bottom: 41%;
}
.li8{
    position: absolute;
    margin-left: 54%;
    bottom: 37%;
}
.li9{
    position: absolute;
    margin-left: 54%;
    bottom: 33%;
}
.li10{
    position: absolute;
    margin-left: 54%;
    bottom: 29%;
}

#nobles{
    background: rgb(2, 85, 2)
}
#transicion{
    background: rgb(0, 119, 255);
}
#halogenos{
    background: rgb(30, 163, 3);
}
#alcalinoterreos{
    background: yellow;
}
#no-metales{
    background: orange;
}
#alcalinos{
    background: rgb(2, 2, 70);
}
#metaloides{
    background:rgb(255, 54, 131);
}
#lantanidos{
    background:rgb(132, 204, 98);
}
#otros-metales{
    background:rgb(148, 5, 112);
}
#actinidos{
    background:rgb(53, 167, 72);
}
/* filtro*/
.filtro{
    position: absolute;
}
.etiqueta1{
    position: relative;
    margin: 50%;
    margin-left: 50%;
}
#contenido{
    position: relative;
    width: 110px;
    margin-left: 44%;
    bottom: 3%;
}


filter{
    display: none;
}

.transparent{
    background: white;
   
}

a:active > .mtrans{
    color:green;
}